---
layout: base.njk
---

<article class="post-full">
  <header class="post-full-header">
    <h1 class="post-full-title">{{ title }}</h1>
    <p class="post-full-meta">
        By {{ author_name }} on <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
    </p>
  </header>

  {% if thumbnail %}
  <figure class="post-full-image">
    <img src="{{ thumbnail }}" alt="{{ title }}" />
  </figure>
  {% endif %}

  <section class="post-full-content">
    {{ content | safe }}
  </section>
</article>
