---
layout: base.njk
title: Blog
pagination:
  data: collections.posts
  size: 3
  alias: posts
  reverse: true
---

<h1>Latest Posts</h1>

<div class="categories-section">
  <h2>Top Categories</h2>
  <ul class="tags-list">
    {% for tag in collections.topTags %}
      <li><a href="/tags/{{ tag | slug }}/" class="tag">{{ tag }}</a></li>
    {% endfor %}
  </ul>
</div>

<ul class="post-list">
  {% for post in posts %}
    <li class="post-list-item">
      {% if post.data.thumbnail %}
        <a href="{{ post.url | url }}">
          <img src="{{ post.data.thumbnail }}" alt="Thumbnail for {{ post.data.title }}" class="post-thumbnail">
        </a>
      {% endif %}
      <div class="post-list-item-content">
        <h2 class="post-title">
          <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </h2>
        <p class="post-meta">
          <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        </p>
        <p class="post-excerpt">
          {{ post.data.description }}
        </p>
        <a href="{{ post.url | url }}" class="read-more">Read More</a>
      </div>
    </li>
  {% endfor %}
</ul>

<nav class="pagination">
  <a href="{{ pagination.previousPageHref | url }}" class="pagination-link" {% if not pagination.previousPageHref %}disabled{% endif %}>Previous</a>
  <span class="pagination-page">Page {{ pagination.pageNumber + 1 }} of {{ pagination.hrefs.length }}</span>
  <a href="{{ pagination.nextPageHref | url }}" class="pagination-link" {% if not pagination.nextPageHref %}disabled{% endif %}>Next</a>
</nav>
