---
layout: base.njk
title: Home
---

<div class="home-content">
  <div class="post-grid">
    {% for post in collections.posts | reverse %}
      <div class="card">
        <div class="card-image">
          <a href="{{ post.url | url }}">
            <img src="{{ post.data.thumbnail }}" alt="Thumbnail for {{ post.data.title }}">
          </a>
        </div>
        <div class="card-content">
          <p class="card-category">{{ post.data.tags[0] }}</p>
          <h2 class="card-title">
            <a href="{{ post.url | url }}">{{ post.data.title }}</a>
          </h2>
          <p class="card-excerpt">{{ post.data.description }}</p>
          <div class="card-meta">
            <img src="{{ post.data.author_image }}" alt="Author image for {{ post.data.author_name }}" class="author-image">
            <span>{{ post.data.author_name }}</span>
            <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
